
.dd-button {
  font-size: 25px;
  cursor: pointer;
}

.dd-button:focus, .dd-button:active {
  border: none;
  outline: none;
}

.dd-button:hover {
  color: #DDFFCC;
  transition: all 250ms ease;
}

.dd-list {
	position: absolute;
	top: 45px;
	right: 140px;
	padding: 5px;
	cursor: pointer;
	border: .5px solid rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border-radius: 4px;

	display: flex;
	flex-direction: column;
}

.dd-pet-name-container{
	display: flex;
	justify-content: flex-end;
}

.dd-logout {
	border-top: 1px dotted blue;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

