.my-pets-wrapper {
  background-color: rgb(221,255,204);
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgb(151,194,185), 0.1em 0.1em 0.5em rgb(151,194,185);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  /* width: fit-content; */
  width: 85%;
  min-width: 390px;
  border-radius: 5px;
  /* height: 85vh; */
  height: 98.75%;
  /* max-height: 750px; */
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.my-pets-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.profile-pic-wrapper {
  display: flex;
  justify-content: center;
  /* min-width: 355px;
  min-height: 400px; */
  /* height: 100%; */
  width: 100%;
  
}

.profile-pic {
  /* height: 100%;
  width: 100%; */
  max-width: 355px;
  max-height: 400px;
  border-radius: 5px;
  border: 5px double white;
  margin-bottom: 20px;
}

.profile-pic-default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 360px;
  color: rgb(255, 142, 138);
}

.pet-details {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  /* padding-bottom: 50px; */
}

.my-pet-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.my-pet-details-name {
  font-weight: 600;
  font-size: 26px;
  padding: 8px 8px;
  outline: none;
  text-align: center;
  background-color: rgb(221,255,204);
  border: 1px solid rgb(221,255,204);
  border-radius: 12px;
  transition: all 700ms ease;
}

.my-pet-details-name:focus {
  border: 1px solid rgb(106, 255, 48);
  background-color: rgb(201, 255, 180);
  transition: all 700ms ease;
}


.my-pet-details-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.my-pet-details-list li {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.my-pet-details-list li:last-of-type {
  text-transform: none;
  margin-bottom: 0px;
}

.my-pet-details-list li label{
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}


.my-pet-details {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(221,255,204);
  border-radius: 5px;
  border: 1px solid rgb(221,255,204);
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  transition: all 700ms ease;
}

.my-pet-details:focus {
  border: 1px solid rgb(106, 255, 48);
  background-color: rgb(201, 255, 180);
  transition: all 700ms ease;
}

.my-pet-details::-webkit-outer-spin-button,
.my-pet-details::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}