.my-pets-wrapper {
  background-color: rgb(221,255,204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 10px;
  width: fit-content;
  border-radius: 5px;
  height: 85vh;
  margin-bottom: 20px;
}

.profile-pic-wrapper {
  display: flex;
  justify-content: center;
  min-width: 355px;
  min-height: 400px;
}

.profile-pic {
  width: 100%;
  max-width: 355px;
  max-height: 400px;
  border-radius: 5px;
  border: 5px double white;
  box-shadow: 0 0 0 5px rgb(151,194,185);
  margin-bottom: 10px;
}

.pet-details {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  /* margin-bottom: 10px; */
}

.my-pet-name {
  font-weight: 600;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.my-pet-details-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  padding-left: 30px;
  margin-top: 0px;
}

.my-pet-details-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.my-pet-details-list li:last-of-type {
  text-transform: none;
  margin-bottom: 0px;
}

.my-pet-details-list li label{
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
