
.create-pet-form-wrapper {
  height: 100%;
  position: relative;
  margin-left: 0;
}

.create-pet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.create-pet-form-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.create-pet-form-title h1{
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

.create-pet-entry,
.create-pet-shelter,
.create-pet-shelterzip
{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-pet-entry input,
.create-pet-shelter input,
.create-pet-shelterzip input
{
  cursor: pointer;
  border-radius: 6px;
  font-size: 15px;
  padding: 12px 14px;
  width: 80%;
  background: #FFFFFF;
  border: 1px solid #dddfe2;
  color: #1d2129;
  height: 12px;
  line-height: 16px;
  vertical-align: middle;
  margin: 5px 10px;
}

.pet-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-image span {
  margin-top: 5px;
  color: #5d6472;
}

.age-gender {
  width: 50%;
  display: flex;
  justify-content: center;
}

.create-pet-age, .create-pet-gender {
  width: 45%;
  padding: 0px;
}

.create-pet-shelter {
  width: 70%;
}


.create-pet-entry button::-webkit-outer-spin-button,
.create-pet-entry button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-pet-entry {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-pet-entry button {
  background-color: #00B9D3;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  margin: 10px 0px;
  width: 380px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  font-weight: bold;
  justify-content: center;
  border: none;
  
}

.submit-pet-entry button:hover {
  background-color: #7fe9f3;
  /* transition: all 500ms ease; */
}

.pet-create-error {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
  color: red;
  height: 12px;
}

.pet-create-error-cont {
  width: 100%;
}

.create-pet-image-prev {
  margin-top: 40px;
  width: 30%;
}

.create-pet-details-cont {
  display: flex;
  margin: 0 20px;
  margin-top: 10px;
}

.create-pet-details {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.create-pet-details-sub {
  display: flex;
  width: 100%;
}