.tc-cont {
  height: 9vh;
  font-family: 'Montserrat', sans-serif;
}

.tc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 400px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 0 0 3px rgb(48,216,240), 0 0 3px black;
}

.tc-text, .tc-name {
  margin: 5px;
}

.tc-name {
  font-weight: 600;
  color: white;
}