.feed-wrapper {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  width: 100%;
}

.feed-main-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 91vh;

  position: absolute;
  top: 9vh;
  margin-top: 15px;
}


.tabs-wrapper {
  display: flex;
  position: absolute;
  height: 30px;
}

.tabs {
  height: 50px;
  width: 350px;
  padding-top: 10px;
  border-radius: 10px;
  display: flex;
}

.tabs-1 {
  display: flex;
  width: 120px;
  height: inherit;
  padding: 5px;
} 


.tabs-2 {
  width: inherit;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
  color: darkblue;
  border-color: #00B9D3;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.tabs-2:hover {
  background-color: skyblue;
}

.feed-lists-wrapper {
  background-color: teal;
  width: 55%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
}

.pets-shelter-list {
  background-color: rgb(241, 221, 197);
  width: 50%;
  height: 88vh;
  border: 1.5px solid rgb(202,168,130);
  border-radius: 10px;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px rgb(202,168,130), 0.3em 0.3em 1em rgb(202,168,130);
}

.selected-pet-wrap {
  height: 30%;
  padding: 10px;
  padding-top: 15px;
  text-align: center;
}

.selected-pet-img {
  width: 100%;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  border: 5px double white;
  box-shadow: 0 0 0 9px rgb(233,171,199),
}

.selected-pet-details-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 10px;
}

.selected-pet-details-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.selected-pet-details-list li:last-of-type, li:first-of-type {
  text-transform: none;
}

.selected-pet-details-list li label {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.my-pets-container {
  width: 20%;
  height: 91vh;
  margin-left: 10px;
  margin-right: 10px;
}
