
.feed-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-top: -20px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 0;
}

.pets-near-index {
  list-style :none;

}

.pets-near-you-list {
  height: 100%;
  width: 350px;
  /* border: 5px solid darkblue; */
  /* border: 3px solid #30D8F0; */
  border-radius: 10px;
  background-color: #EEFCFF;
  min-height: 500px;
  display: inline-block;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px #ffffff, 0.3em 0.3em 1em #047e90;
}

.pets-near-name {
  color: darkblue;
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pets-near-index-redirect {
  text-decoration: none;
}

.pets-near-details {
  color: #30D8F0;
  display: block;
  padding-bottom: 5px;
}

.pets-near-age {
  color: darkblue;
  font-weight: 600;
}

.middle-feed {
  height: 100%;
  width: 350px;
  border: 5px solid darkblue;
  border-radius: 10px;
  background-color: #EEFCFF;
  min-height: 500px;
  display: inline-block;
}

.feed-lists-wrapper {
  display: flex;
}

.pets-shelter-list {
  height: 100%;
  width: 350px;
  /* border: 5px solid darkblue; */
  /* border: 3px solid #30D8F0; */
  border-radius: 10px;
  background-color: #EEFCFF;
  min-height: 500px;
  display: inline-block;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px #ffffff, 0.3em 0.3em 1em #047e90;
}

.my-pets-wrapper {
  color: black;
  font-size: 20px;
}