.feed-wrapper {
  font-family: 'Montserrat', sans-serif;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* margin-top: -20px;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0 0; */
}

.navbar-container {
  width: 100%;
}

.feed-main-wrapper {
  background-color: thistle;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 91vh;

  position: absolute;
  top: 9vh;
  margin: 0;
}

.feed-lists-wrapper {
  background-color: teal;
  width: 50%;
  /* height: 80%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 50px; */
}

.pets-shelter-list {
  height: 91vh;
  width: 50%;
  /* width: 550px; */
  /* border: 5px solid darkblue; */
  /* border: 3px solid #30D8F0; */
  border-radius: 10px;
  /* background-color: #EEFCFF; */
  background-color: sandybrown;
  /* min-height: 500px; */
  /* display: inline-block; */
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 10%), 0 0 0 2px #ffffff, 0.3em 0.3em 1em #047e90;
}

.tabs-wrapper {
  display: flex;
  position: absolute;
  height: 30px;
}

.tabs {
  height: 50px;
  width: 350px;
  padding-top: 10px;
  border-radius: 10px;
  display: flex;
}

.tabs-1 {
  display: flex;
  width: 120px;
  height: inherit;
  padding: 5px;
} 


.tabs-2 {
  width: inherit;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
  color: darkblue;
  border-color: #00B9D3;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.tabs-2:hover {
  background-color: skyblue;
}

.my-pets-container {
  width: 20%;
}

.selected-pet-wrap {
  height: 30%;
  padding: 10px;
  padding-top: 15px;
  text-align: center;
}

.selected-pet-img {
  width: 100%;
  max-width: 400px;
  max-height: 450px;
  border-radius: 5px;
  border: 5px double white;
  box-shadow: 0 0 0 9px rgb(233,171,199),
}

.selected-pet-details-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-top: 10px;
}

.selected-pet-details-list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  text-transform: lowercase;
}

.selected-pet-details-list li:last-of-type, li:first-of-type {
  text-transform: none;
}

.selected-pet-details-list li label {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
